* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

#admin-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr 3fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 3fr 0.2fr 1fr 0.8fr 1fr 0.1fr 0.7fr;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: ". rc ." ". . ." "emil emil emil" ". . ." "passo passo passo" ". . ." ". conf .";
  width: 80vw;
  margin-left: 10vw;
  padding-top: 1vh;
  padding-bottom: 5vh;
  height: 80vh;
  margin-right: 10vw;
}

#rcimg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rc;
  width: 52vw;
  border-radius: 50%;
}

#Emilp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: emil;
}

#passop {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: passo;
}

#conform {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: conf;
  color: white;
  background: #2CCF04;
  border-radius: 5vw;
}

#create {
  color: white;
  background-color: brown;
  padding: 1vw;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 5vh;
}

#retrun {
  color: white;
  background-color: #fc6060;
  padding: 1vw;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 5vh;
}

#Emil {
  width: 78vw;
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
  border-bottom: 1px solid black;
}

#passowrd {
  width: 78vw;
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
  border-bottom: 1px solid black;
}

#details {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 1fr;
      grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "fname fname fname" ". . ." "sname sname sname" ". . ." "cemil cemil cemil" ". . ." "cpasso cpasso cpasso"  ". . ." ". crat .";
  width: 80vw;
  margin-left: 10vw;
  height: 50vh;
  margin-top: 25vh;
  margin-right: 10vw;
}

#Fname {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fname;
  width: 78vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid black;
}

#Sname {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sname;
  width: 78vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid black;
}

#Cemail {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cemil;
  width: 78vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid black;
}

#Cpass {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cpasso;
  width: 78vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid black;
}

#DConform {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: crat;
  color: white;
  background-color: brown;
  padding: 1vw;
}

input:focus {
  border: 0px;
  border-bottom: 1px solid black;
}

#adpage {
  background-color: black;
  height: 100vh;
}
/*# sourceMappingURL=admin.css.map */