* {
    margin:0px;
    border:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.ruleoop {
    display:grid;
    grid-template-columns:"1fr 1fr";
    grid-template-rows: "1fr";
    grid-template-areas: "rulep inpu";
    width:80vw;
    margin-left:10vw;
}
.rulep {
    grid-area:rulep;
    width:40vw;
}
.inpu {
    grid-area:inpu;
    border-bottom: 1px solid black;
}
.inpu:focus {
    border-bottom: 1px solid black;
}
#Rule-name {
    margin-top:2vh;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". inpu .";
    width:80vw;
    margin-left:10vw;
font-size:6vw;
input {
    grid-area:inpu;
    width: 50vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 5vw;
}

}
#compid {
    width: 50vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 5vw;
    margin-left: 25vw;
    margin-top:2vh;
}
#maingrid {
    overflow:hidden;
    height:100vh;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    grid-template-areas: "newru"
    "newco"
    "newcu";
}
#newrui {
    grid-area:newru;
}
.newruimg {
    width:100%;
    height:100%;
}
#newcoi {
    grid-area:newco;
    background-color: #000000;
    color:#2CCF04;
}
.greenk {
    background-color:rgba(44, 207, 4,0.6);
    position:absolute;
    color:white;
    width:100%;
    height:33.4vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.blackk {
    background-color:rgba(35, 37, 34, 0.6);
    position:absolute;
    color:white;
    width:100%;
    height:33.4vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
#newcui {
    grid-area:newcu;
    background-color: #2CCF04;
}
.tabb {
    height:33.4vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:6vw;
}
.mainba {
    width:100vw;
    height:5vh;
    background: #2CCF04;
    text-align: center;
}
.rulen {
    margin-left:10vw;
    width:80vw;
    border-radius:3vw;
    text-align:center;
    background: #2CCF04;
    color:black;
    margin-top:2vh;
    padding-top:0.5vh;
    padding-bottom:0.5vh;
}
.thene {
    border-radius:2vw;
    margin-top:2vh;
    width:20vw;
    margin-left:40vw;
    padding-top:0.3vh;
    padding-bottom:0.3vh;
    background-color: #2CCF04;
}
#newru {
    background-color: #000000;
    height:100vh;
    overflow-y: scroll;
}
#tolist {
    width:100vw;
    height:5vh;
    background: #2CCF04;
    text-align: center;
}
#ruleform {
    height:100vh;
    background-color: #000000;
}
.ruleoop {
    margin-left: 10vw;
    width: 80vw;
    border-radius: 3vw;
    text-align: center;
    background: #2CCF04;
    color: black;
    margin-top: 2vh;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    display: grid;
    grid-template-areas: "rulena rulein";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.rulep {
grid-area:rulena;
}
.inpu {
    grid-area: rulein;
    width: 36vw;
    border-radius: 3vw;
    border: none;
    text-align: center;
}
.inpu:focus {
border-radius: 2vw;
} 
#rulesub {
    border-radius: 2vw;
    margin-top: 2vh;
    width: 20vw;
    margin-left: 40vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    background-color: #2CCF04;
}
#rulesel {
    grid-area: inpu;
    width: 50vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 5vw;
    margin-left: 25vw;
    margin-top: 2vh;
    padding-left:2vw;
    option {
        grid-area: inpu;
    width: 50vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 5vw;
    margin-left: 25vw;
    margin-top: 2vh;
    }
}
#newco {
    background-color: #000000;
    height:100vh;
}
#newcompsub {
    border-radius: 2vw;
    margin-top: 2vh;
    width: 20vw;
    margin-left: 40vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    background-color: #2CCF04;
}
.big {
    margin-top:2vh;
    width:80vw;
    margin-left:10vw;
    border-radius:3vw;
    padding-top:0.8vh;
    padding-bottom:0.8vh;
    background-color:#2CCF04;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nim stat";
}
.nim {
    grid-area:nim;
    text-align: center;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}
.stat {
    grid-area: stat;
    text-align: center;
    border-radius: 3vw;
    margin-right: 3vw;
    color: white;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;

}
#newcu {
    height:100vh;
    background-color:#000000;
}
#logout {
    position: absolute;
    background-color: #EE251E;
    padding: 2vw;
    height: 9vw;
    border-radius: 40%;
    top:91vh;
    left:83vw;
    z-index:3;
}