* {
    margin:0px;
    border:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
#logpage {
    background-color: black;
    height:100vh;
}
#createpage {
    background-color: black;
    height:100vh;
}
#admin-box {
    display: -ms-grid;
    display: grid;
    grid-template-rows: 3fr 0.2fr 1fr 0.8fr 1fr 0.1fr 0.7fr 0.1fr 0.7fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        ". rc ."
        ". . ."
        "emil emil emil"
        ". . ."
        "passo passo passo"
        ". . ."
        ". conf ."
        ". . ."
        ". create .";
    width: 80vw;
    margin-left: 10vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    height: 90vh;
    margin-right: 10vw;
}
#rcimg {
    grid-area: rc;
    width: 52vw;
    border-radius: 50%;
}
#Emilp {
    grid-area:emil;
}
#passop {
    grid-area:passo;
}
#conform {
    grid-area:conf;
    color:white;
    background:#2CCF04;
    border-radius: 5vw;
}
#create {
    color:white;
    grid-area:create;
    background-color:brown;
    border-radius:5vw;
    text-align:center;
    align-self:center;
}
#retrun {
    color:white;
    background-color:rgb(252, 96, 96);
    padding:1vw;
    width:40vw; 
    border-radius:3vw;
    margin-left:30vw;
    margin-top:5vh;
}
#Emil {
    width: 78vw;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    border-bottom: 1px solid black;
}
#passowrd {
    width: 78vw;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    border-bottom: 1px solid black;
}
#details {
    display:grid;
    grid-template-rows:3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 1fr;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas:"fname fname fname"
    ". . ."
    "sname sname sname"
    ". . ."
    "cemil cemil cemil"
    ". . ."
    "cpasso cpasso cpasso" 
". . ."
    ". crat .";
    width:80vw;
    margin-left: 10vw;
    height: 50vh;
    padding-top: 25vh;
    margin-right:10vw;
}
#Fname {
grid-area:fname;
  width: 78vw;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    border-bottom: 1px solid black;
}
#Sname{
grid-area:sname;
width: 78vw;
padding-left: 2vw;
padding-right: 1vw;
padding-top: 1vw;
padding-bottom: 1vw;
border-radius: 3vw;
border-bottom: 1px solid black;
}
#Cemail {
grid-area:cemil;
width: 78vw;
padding-left: 2vw;
padding-right: 1vw;
padding-top: 1vw;
padding-bottom: 1vw;
border-radius: 3vw;
border-bottom: 1px solid black;
}
#Cpass {
grid-area:cpasso;
width: 78vw;
padding-left: 2vw;
padding-right: 1vw;
padding-top: 1vw;
padding-bottom: 1vw;
border-radius: 3vw;
border-bottom: 1px solid black;
}
#DConform {
    grid-area:crat;
    color:white;
    background-color:brown;
    padding:1vw; 
    border-radius:3vw;
}
input:focus {
    border:0px;
    border-bottom:1px solid black;
}
