* {
    margin:0px;
    border:0px;
    padding:0px;
}
body {
    overflow:hidden;
}
#naf {
    display:grid;
    grid-area:naf;
    width:100vw;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:"point scale rule";
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.25);
}
#pointer {
    grid-area:point;
    height:4vh;
    margin-top:0.5vh;
    margin:auto;
}
#scaler {
    grid-area:scale;
    height:4vh;
    margin-top:0.5vh;
    margin:auto;
}
#ruler {
    grid-area:rule;
    height:4vh;
    margin-top:0.5vh;
    margin:auto;
}
.fakepage {
    overflow-y:scroll;
    grid-area:fake;
}
#navpos {
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 95fr 5fr;
    grid-template-rows: 95fr 5fr;
    grid-template-areas:
        "fake"
        "naf";
    height: 100vh;
    overflow: hidden;
}
.ruleset {
    color:white;
    text-align:center;
    margin-top:1.25vh;
    margin-bottom:1.25vh;
    padding-left:0.5vw;
    padding-right:0.5vw;
}
.selcrule {
    background-color:#3b91b6;
}
#pulldon {
    background-color: #4BC0F2;
    transition: top 0.8s;
    position:absolute;
    transition-timing-function: ease-in-out;
    top:-100vh;
    width:100vw;
}
#trugger:hover {
    top:-8vh;
}
#trugger:hover~ #pulldon { top:0px;
 }
#Arrox {
    width:30vw;
    height:7vh;
    margin-left:35vw;
}
#trugger {
    width:100vw;
    height:7vh;
    transition: top 0.6s;
    transition-timing-function: ease-in-out;
    position: absolute;
    top:0px;
    background-color: #4BC0F2;
}
.pair {
    display:grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "label valu";
    margin-left: 10vw;
    margin-right:10vw;
}

.label {
    grid-area:label;
}
.valu {
    width: 35vw;
    grid-area: valu;
    text-align: center;
    border-bottom: 1px solid black;
}
.valu:focus {
    outline: 0px;
    border-bottom: 1px solid black;
} 
#rule {
    padding-top:11.2vh;
}
#Baseline {
   text-align: center;
    font-size:6.3vw;
}
#Penalties {
    text-align: center;
    font-size:6.3vw;
}