* {
    margin:0px;
    border:0px;
    padding:0px;
}
#scorescreen {
    padding-top:9vw;
}
body {
    background:#2CCF04;
}
#dropper {
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    position: absolute;
    top: 0vh;
}
.taber {
margin-top:8vw;
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr;
grid-template-areas:"nam scor";
width:80vw;
margin-left:10vw;
background: black;
border-radius: 5vw;
padding-top:1vh;
padding-bottom:1vh;
padding-right:2vw;
padding-left:2vw;
}
.nam {
    grid-area:nam;
    text-align:center;
    padding-top: 0.8vw;
    padding-bottom:0.8vw;
   border-radius:3vw;
   color:white;
}
.scor {
    text-align:center;
    padding-top: 0.8vw;
    padding-bottom:0.8vw;
   border-radius:3vw;
   background: white;
}
#subdropper {
    justify-content: center;
    width: 100vw;
    height: 5vw;
    overflow-x: scroll;
    position: absolute;
    top: 5vw;
    display: flex;
}
.sub {
    text-align: center;
    width: 20vw;
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-top: 0.5vw;
    padding-bottom: 1.1vw;
    background: white;
    border-radius: 4vw;
    margin-left: 2vw;
}
.subsub {
    color: white;
    text-align: center;
    width: 20vw;
    font-size: 3vw;
    margin-left: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 1.1vw;
    display: inline;
    background: black;
    border-radius: 4vw;
}